# ignore vscode files
.vscode/

# ignore idea viles
.idea/

# ignore ipynbs
.ipynb_checkpoints/

# ignore vector cache
.vector_cache/

# nlp testing
nlp_service/testing

# indexer_service
indexer_service/.idea
indexer_service/.settings
indexer_service/.DS_Store

# ignore vscache
nlp_service/__pycache__
